#content {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   text-align: center;
}
#page-wrap {
     width: 800px;
     margin: 0 auto;
}