@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

#content {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
body {
font-family: 'Anonymous Pro', monospace;
   font-weight: 300;
   text-align: center;

}
#page-wrap {
     width: 800px;
     margin: 0 auto;
}